[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/laz-perf"]
	path = thirdparty/laz-perf
	url = https://github.com/hobuinc/laz-perf.git
